# Entorno Frontend (React)
frontend/node_modules/
frontend/dist/
.env
.env.*

# Sistema operativo
.DS_Store

# Entorno Backend (Python/FastAPI)
venv/
.venv/
backend/venv/
backend/env/
backend/__pycache__/
*.pyc
*.pyo